@font-face {
    font-family: 'Inter-Regular';
    src: url('/fonts/Inter/Inter-Regular.ttf')
}

@font-face {
    font-family: 'Onest-Black';
    src: url('/fonts/Onest/Onest-Black.ttf')
}

@font-face {
    font-family: 'Onest-Regular';
    src: url('/fonts/Onest/Onest-Regular.ttf')
}
